.header-layer{
    display: flex;
    flex-direction: row;
    position: relative;
    .welcome{
      width: 42.8125%;
      .logo{
        color: #286EDC;
        font-size: 60px;
        margin-top: 50px;
        margin-left: 45px;
      }
    }
    .banner{
      width: 100%;
      background-image: url('./images/banner.png');
      background-repeat: no-repeat;
      background-size: 100% 100%;
      &:before{
        content: "";
        display: block;
        padding-top: 100%;
      }
      display: flex;
      flex-direction: row;
      padding-top: 99px;
      .nav{
        display: flex;
        flex-direction: row-reverse;
        padding-right: 13%;
        width: 84%;
        color: #fff;
        .item{
          width: 36px;
          height: 30px;
          line-height: 30px;
          margin-left: 8.5610%;
          font-size: 14px;
          &:nth-child(1){
              padding-right: 0;
          }
          &.private{
            width: 72px;
            line-height: 30px;
          }
        }
        
        .item-btn{
          width: 90px;
          height: 30px;
          line-height: 30px;
          text-align: center;
          background-color: #fff;
          border-radius: 15px;
          color: #000;
          margin-right: 10px;
          &:nth-child(2){
            margin-right: 0;
          }
          &.active{
            color: #1580FE;
          }
        }
      }
      .search{
        display: flex;
        flex-direction: row;
      }
    }
  }