.todo-list{
    width: 300px;
    border: 1px solid #ebebeb;
    .title{
        font-size: 14px;
        font-weight: bolder;
        text-align: center;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #ebebeb;
    }
    .row{
        display: flex;
        flex-direction: row;
        .input{
            width: 80%;
            margin-right: 5%;
            input{
                width: 100%;
            }
        }
        .button{
            width: 10%;
            text-align: center;
            font-size: 12px;
            border: 1px solid #5D95FF;
            background-color:  #5D95FF;
            color: #fff;
            border-radius: 4px;
            height: 30;
            line-height: 30px;
        }
    }
}